{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Got Me!</title>
    <link rel="stylesheet" href="{% static 'staticportfolio/index.css' %}">
</head>
<body>
    <main>
        <article class="about active">
            <header>
                <h2 class="h2 article-title">You Got Me!</h2>
            </header>

            <section class="about-text">
                <p>Since you are here, you are curious about me.</p>
            </section>

            <section class="service">
                <h3 class="h3 service-title">Next step</h3>
                <a class="service-item-text" href="/admin/">Make an appointment, and hire me quickly before your competitors.</a>
            </section>
        </article>
    </main>
</body>
</html>